*{
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 90vh;

  margin: 0;

  /* font-family: sans-serif; */
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.216px;
  color: white;
  background-color: black;

  display: flex;
  justify-content: center;
  align-items: center;

}

.container{

  width: 25rem;
  padding: 10px;
  margin: 10px;


  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px #6bf8ff;
 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.inputRow{
  
  display:flex;
  align-items: center;
  justify-content: space-between;

  width: 21rem;
  padding-bottom: 15px;
}

.inputRow input{
  display: flex;
  flex: 1;
  height: 3rem;

  font-weight:400;
  font-size: 1rem;
  padding-left: 10px;

  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  margin-right: 10px;
}

.inputRow button{
  height: 3rem;
  font-weight: bolder;
  background-color:black;
  border: 1px solid white;
  color: white;
  border-radius: 5px;

}

.inputRow button:active{
  transform: scale(0.9);
}

.tasks{
  width: 20rem;
}

.taskList{
  margin: 10px;
  margin-left: 25px;
  margin-right: 40px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  position: relative;
  cursor:pointer;
  font-family: inherit;
  font-weight: 500;
}

.taskList::before {
  content: '';
  position: absolute;
  border: 1px solid white;
  border-radius: 3px;
  top: 10px;
  left: -30px;
  height: 18px;
  width: 18px;
}

.taskList button{
  position: absolute;
  right: -35px;
  top: 25%;

  color: rgb(255, 66, 66);
  background-color: transparent;

  font-size: small;
  font-weight: bolder;
  border: transparent;

  transform: scale(1.2);

}

.taskList button:active{
  transform: scale(1.5);
}

.checked{
  margin: 10px;
  margin-left: 25px;
  margin-right: 40px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  position: relative;
  cursor:pointer;
  font-family: sans-serif;
  font-weight: 500;

  text-decoration: line-through;
  color: gray;
}

.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: -25px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.checked button{
  position: absolute;
  right: -35px;
  top: 25%;

  color: rgb(255, 66, 66);
  background-color: transparent;

  font-size: small;
  font-weight: bolder;
  border: transparent;

  transform: scale(1.2);

}

.checked button:active{
  transform: scale(1.5);
}


.footer {
  text-align: center;
  align-items: center;
  position: fixed;
  width: 100%;
  color: white;
  bottom: 0;
  background-color: transparent
  font-size: 1rem;
  text-align: center;
  padding: 10px
}
